/* Style de base pour la barre de navigation */
.navbar {
  background-color: #ffc300;                            /* Couleur de fond */
  padding: 15px 20px;                                       /* Espacement interne */
  display: flex;                                            /* Utilisation de flexbox pour l'alignement */
  justify-content: space-around;                            /* Espacement égal entre les éléments */
  align-items: center;                                      /* Alignement vertical des éléments */
  position: sticky;                                         /* Barre de navigation fixe en haut de la page */
  flex-wrap: wrap;                                          /* Permet le retour à la ligne */
}
/* Style des liens dans la barre de navigation */
.navbar a {
  color: #001d3d;                                           /* Couleur du texte */
  text-decoration: none;                                    /* Supprime le soulignement des liens */
  font-size: 18px;                                          /* Taille de la police */
  font-weight: 500;                                         /* Épaisseur de la police */
  transition: color 0.3s ease;                              /* Animation pour le survol */
  box-sizing: border-box;
}
/* Effet de survol pour les liens */
.navbar a:hover {
  color: #003566;                                         /* Couleur au survol */
}
/* Style pour le lien actif (optionnel) */
.navbar a.router-link-exact-active {
  color: #003566;                                         /* Couleur pour le lien actif */
}
/* Style pour le titre du portfolio */
.navbar_title {
  text-decoration: none;
  color: #ffc300;                                         /* Couleur du texte */
  text-align: center;                                       /* Centrer le texte */
}
.navbar_title:visited {
    color: inherit;                                         /* Enlève l'effet "déjà cliqué" */
}

/* Responsive Navbar */
@media (max-width: 1200px) {
  .navbar a {
    width: 33.33%;      /* 3 colonnes */
    text-align: center;
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .navbar a {
    width: 50%;         /* 2 colonnes */
  }
}

@media (max-width: 480px) {
  .navbar a {
    width: 100%;        /* 1 colonne sur très petits écrans */
  }
}